body {
    background-image: url("seamless-pattern-with-hearts-on-rose-bg-vector-24540131.avif");
    text-align: center;
    align-items: center;

}

.options {
    display:flex;
    flex-direction: row;
    width:100%;
    font-size: 30px;
    color: black;
    align-items: center !important;
    justify-content: center;

}

h4 {
font-size: 50px;
font-weight: 700;
color: black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
width:max-content;
background-color: pink;
}

.options p{
    width: 25vw;
    margin: 30px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center !important;
justify-content: center; /* Horizontally centers the text inside each <p> */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: pink;

}

img {
    height:50vh;
    width:30vw;
}