body {
    background-image: url("seamless-pattern-with-hearts-on-rose-bg-vector-24540131.avif");
    text-align: center;
    font-size: 20px;
}

.options {
    display:flex;
    flex-direction: row;
    gap:5vw;
    background-color: pink;
    font-size: 10px;
    color: black;

}